omicron/.nrepl-history
epsilon/target/epsilon.jar
epsilon/target/META-INF epsilon/target/epsilon epsilon/target/epsilon.jar
omicron/target/omicron
epsilon/target/META-INF/maven/tim/epsilon/pom.properties
epsilon/target/META-INF/maven/tim/epsilon/pom.xml
epsilon/target/META-INF epsilon/target/epsilon epsilon/target/epsilon.jar
omicron/target/omicron
